<app-header />

<body></body>
<div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="loginWithEmailAndPass()">
        <div class="form-group">
            <input  type="text" id="email" name="email" placeholder="example@gmail.com" formControlName="email">
            <label for="email">Email</label>
        </div>
        <div *ngIf="loginForm.get('email')?.touched">
            <p class="error" *ngIf="loginForm.get('email')?.errors?.['required']">
                Email is Required!
            </p>
        </div>
        <div class="form-group">
            <input type="text" id="password" name="password" placeholder="*****" formControlName="password">
            <label for="password">Password</label>
        </div>
        <div *ngIf="loginForm.get('password')?.touched">
            <p class="error" *ngIf="loginForm.get('password')?.errors?.['required']">
                Password is Required!
            </p>
        </div>
        <button type="button" (click)="loginWithEmailAndPass()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
        </button>
    </form>

</div>
<app-footer />