<app-header />
<div class="container">
    <button class="subscribe" (click)="subscribe()">Subscribe</button>
    <p class="splitName">{{split?.splitName}}</p> 
    <p class="splitExp">Level : {{split?.exp}}</p>
    <p class="splitGoal">Goal : {{split?.goal}}</p>
    <p class="guide">If you want to see guide of the exercises, click on the exercise name !</p>
    <div class="wrapper">
        <div class="exer-wrapper">
            <h2 class="day">Monday</h2>
            <br />
            <div *ngFor="let el of result" class="contain">
                <span *ngIf="el.day === 'monday'">
                    <p *ngIf="el.name === 'Rest'; else temp"><a class="title">{{el.name}}</a></p>
                    <ng-template #temp>
                        <p><a href="{{el.guide}}" target="_blank" class="title">{{el.name}}</a></p>
                        <p class="sets">Sets: {{el.sets}}</p>
                        <p class="reps">Reps: {{el.reps}}</p>
                        <hr class="breakLine">
                    </ng-template>
                    <br />
                </span>

            </div>
        </div>
        <div class="exer-wrapper">
            <h2 class="day">Tuesday</h2>
            <br />
            <div *ngFor="let el of result" class="contain">
                <span *ngIf="el.day === 'tuesday'">
                    <p *ngIf="el.name === 'Rest'; else temp"><a class="title">{{el.name}}</a></p>
                    <ng-template #temp>
                        <p><a href="{{el.guide}}" target="_blank" class="title">{{el.name}}</a></p>
                        <p class="sets">Sets: {{el.sets}}</p>
                        <p class="reps">Reps: {{el.reps}}</p>
                        <hr class="breakLine">
                    </ng-template>
                    <br />
                </span>
            </div>
        </div>
        <div class="exer-wrapper">
            <h2 class="day">Wednesday</h2>
            <br />
            <div *ngFor="let el of result" class="contain">
                <span *ngIf="el.day === 'wednesday'">
                    <p *ngIf="el.name === 'Rest'; else temp"><a class="title">{{el.name}}</a></p>
                    <ng-template #temp>
                        <p><a href="{{el.guide}}" target="_blank" class="title">{{el.name}}</a></p>
                        <p class="sets">Sets: {{el.sets}}</p>
                        <p class="reps">Reps: {{el.reps}}</p>
                        <hr class="breakLine">
                    </ng-template>
                    <br />
                </span>
            </div>
        </div>
        <div class="exer-wrapper">
            <h2 class="day">Thursday</h2>
            <br />
            <div *ngFor="let el of result" class="contain">
                <span *ngIf="el.day === 'thursday'">
                    <p *ngIf="el.name === 'Rest'; else temp"><a class="title">{{el.name}}</a></p>
                    <ng-template #temp>
                        <p><a href="{{el.guide}}" target="_blank" class="title">{{el.name}}</a></p>
                        <p class="sets">Sets: {{el.sets}}</p>
                        <p class="reps">Reps: {{el.reps}}</p>
                        <hr class="breakLine">
                    </ng-template>
                    <br />
                </span>
            </div>
        </div>
        <div class="exer-wrapper">
            <h2 class="day">Friday</h2>
            <br />
            <div *ngFor="let el of result" class="contain">
                <span *ngIf="el.day === 'friday'">
                    <p *ngIf="el.name === 'Rest'; else temp"><a class="title">{{el.name}}</a></p>
                    <ng-template #temp>
                        <p><a href="{{el.guide}}" target="_blank" class="title">{{el.name}}</a></p>
                        <p class="sets">Sets: {{el.sets}}</p>
                        <p class="reps">Reps: {{el.reps}}</p>
                        <hr class="breakLine">
                    </ng-template>
                    <br />
                </span>
            </div>
        </div>
        <div class="exer-wrapper">
            <h2 class="day">Saturday</h2>
            <br />
            <div *ngFor="let el of result" class="contain">
                <span *ngIf="el.day === 'saturday'">
                    <p *ngIf="el.name === 'Rest'; else temp"><a class="title">{{el.name}}</a></p>
                    <ng-template #temp>
                        <p><a href="{{el.guide}}" target="_blank" class="title">{{el.name}}</a></p>
                        <p class="sets">Sets: {{el.sets}}</p>
                        <p class="reps">Reps: {{el.reps}}</p>
                        <hr class="breakLine">
                    </ng-template>
                    <br />
                </span>
            </div>
        </div>
        <div class="exer-wrapper">
            <h2 class="day">Sunday</h2>
            <br />
            <div *ngFor="let el of result" class="contain">
                <span *ngIf="el.day === 'sunday'">
                    <p *ngIf="el.name === 'Rest'; else temp"><a class="title">{{el.name}}</a></p>
                    <ng-template #temp>
                        <p><a href="{{el.guide}}" target="_blank" class="title">{{el.name}}</a></p>
                        <p class="sets">Sets: {{el.sets}}</p>
                        <p class="reps">Reps: {{el.reps}}</p>
                        <hr class="breakLine">
                    </ng-template>
                    <br />
                </span>
            </div>
        </div>
    </div>
</div>
