.footer {
  width: 98%;
  height: 100%; 
  background: linear-gradient(
    135deg,
    rgb(73, 72, 72) 30%,
    rgb(87, 4, 4) 0 100%
  );
  color: white;
  text-align: center;
  padding: 30px;
  margin-left: -10px;
  margin-bottom: -15px;
}
/* .footer {
  background: linear-gradient(
    135deg,
    rgb(73, 72, 72) 30%,
    rgb(87, 4, 4) 0 100%
  );
  padding: 10px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
  margin-bottom: -20px;
  margin-left: -2
} */

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: white;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer .row a:hover {
  font-size: 15px;
  text-shadow: red;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a li {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5px;
  }
  .footer row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a li {
    margin: 0% 3%;
  }
}
