<footer>
    <div class="footer">
        <div class="row">
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Career</a></li>
            </ul>
        </div>

        <div class="row">
            BODYFLEX Copyright © 2023 BodyFlex - All rights reserved || Designed By: Krasimir Dimitrov
        </div>
    </div>
</footer>