<app-header />

<body> </body>
<div class="login-box">
    <h2>Register</h2>
    <form [formGroup]="regForm" (ngSubmit)="handleSubmit()">
        <div class="form-group">
            <input type="text" id="email" name="email" formControlName="email">
            <label for="email">Email</label>
        </div>
        <ng-container *ngIf="regForm.get('email')?.touched">
            <p class="error" *ngIf="regForm.get('email')?.errors?.['required']">
                Email is required !
            </p>
        </ng-container>
        <a routerLink="/home">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
        </a>



    </form>

</div>

<app-footer />