<app-header />

<div class="guest" *ngIf="!isAuthenticated() else loggedPlate">
    <h1>You need to login to view this page!</h1>
    <a routerLink="/login">Login</a>

</div>
<ng-template #loggedPlate>
    <body>
        <div *ngFor="let muscle of muscles">
            <div class="image-wrapper">
                <img src="{{muscle.imageUrl}}" alt="Muscle" class="img">
                <div class="content">
                    <div class="text" [routerLink]="muscle.key">
                        {{muscle.muscle}}
                    </div>
                </div>
            </div>
        </div>
    </body>
</ng-template>
<app-footer />